<template name="UKitchen">
  <tr class="player {{selected}}">
    <td>{{name}}</td>
    <td>{{description}}</td>
    <td>{{author}}</td>
    <td class="text-right">{{status}}</td>
  </tr>
  {{#if Selected}}
  {{#if nameIs Sel_name}}
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Label</th>
        <th>Question</th>
      </tr>
    </thead>
    <tbody>
    {{#each Uquestions}}
      {{> list}}
    {{/each}}
    </tbody>
  </table>
  {{/if}}
  {{/if}}
</template>

<template name="list">
  <tr class="text-info">
    <td><b>&#8226;</b> {{label}}{{#if questionIs Sel_question}}<b> &#187;</b>{{/if}}</td>
    <td>{{question}}</td>
  </tr>
</template>